* {
    box-sizing: border-box;
}

body {
    width: 960px;
    margin: auto;
}

header {
    position: relative;
    min-height: 70px;
    /* border: 1px solid black; */
    /* background: pink; */
    margin: 30px;
    overflow: hidden;
    padding: 10px;
    font-family: 'Alfa Slab One', cursive;
    font-size 2em;
}

p {
    font-family: 'Alfa Slab One', cursive;
    padding: 10px;
    margin: 10px;
}

.logoWithTitle {
    display: inline-block;
}

h1 {
    font-size: 4em;
    display: inline-block;
    font-family: 'Alfa Slab One', cursive;
    font-weight: bold;
    padding-left: 10px;
}

.logoPic {
    display: inline-block;
}

nav {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;

}

nav ul {
    display: inline-block;
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;
    text-decoration: none;
}

nav li {
    position: relative;
    display: inline;
    border: solid;
    border-width: 1px 3px 0 3px;
    border-radius: 10px 30px 0 0;
    margin-left: -3px;
    text-shadow: 1-x 1px 10px rgba(0,0,0,.5);
    transition: .2s
}
nav a {
    width: 90%;
    height: 20px;
    padding: 6px 10px 20px 5px;
    border-radius: 10px 30px 0 0;
    /* background: #999; */
    color: black;
    text-align: center;
    text-decoration: none;
    transition: .2s;
}

nav li:hover a {
    /* background: #ccc; */
    color: red;
    /* background: gray; */
    font-style: 
    /* text-shadow: 1-x 1px 10px rgba(0,0,0,.5); */
    transition: .2s
}

main {
    position: relative;
    /* border: 1px solid red; */
    display: inline-block;
    width: 100%;
    margin: auto;
}
#selected {
    z-index: 2;
}
/* 
#results-container {
    width: 30%;
    background-color: rebeccapurple;
    height: 400px;
    float: left;
} */

#user-interface {
    text-align: center;
    /* position: relative; */
    float: right;
}

#images-container {
    /* background-color: pink; */
    height: 400px;
    /* border: 1px solid black; */
    width: 100%;
    position: relative;
    float: left;
    font-weight: bold;
}

figure > img {
    width: 100%;
    margin: 10px;
    border: 3px solid black;
}

figure {
    float: left;
    width: 30%;
    margin: 10px;
}

figure > figcaption {
    border: 1px;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* #vote-button {
    background-color: green;
    height: 30px;
    display: block;
} */

#instructions {
    /* background-color: orange; */
    /* display: block; */
    height: 100%;
}

.image-display {
    height: 200px;
    display: inline-block;
    margin: 10px;
}

footer {
    position: relative;
    /* border: 1px solid blue; */
    margin: 30px;
    text-align: center;
}
